:root {
    --holbie-red: #e0354b;
    --red-red: red;
    --blue: blue;
  }

.Notifications {
    padding: 3vw;
    border: 3px dashed var(--holbie-red);
}

[data-notification-type="default"] {
    color: var(--blue);
  }
  
[data-notification-type="urgent"] {
    color: var(--red-red);
  }