.App {
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}


.App-header {

  color: #e0344b;
  display: flex;
  align-items: right;
  font-size: 20px;
  border-bottom: 3px solid #e0344b;
}

.App-header h1 {
  margin: auto 0 auto 0;
}

.App-body {
  border-bottom: 3px solid #e0344b;
  min-height: 25vw;
  padding-top: 2vw;
  padding-left: 2vw;
}

.App-footer {
  text-align: center;
  font-style: italic;
}
